body {
    font-family: "Trebuchet MS", sans-serif;
    color: #D3D0CBFF;
    margin: 0;
    border: 0;
    position: relative;
}

header {
    background-color: #2E5266FF;
    padding: 20px;
}

header h1 {
    letter-spacing: 2px;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #9FB1BCFF;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: #2E5266FF;
}

nav a:hover {
    background-color: antiquewhite;
    transition-duration: 0.5s;
}

nav a:active {
    background-color: cornflowerblue;
}

main > section {
    padding: 20px;
    background-color: #6E8898FF;
    position: relative;
}

section h2 {
    text-shadow: 3px 6px 5px #2E5266FF;
}

caption {
    padding: 0 0 20px 0;
}

hr {
    border-top: white;
    margin: 0;
}

video {
    display: block;
    margin: 20px auto;
}

form {
    width: 600px;
    margin: auto;
}

footer {
    background-color: #2E5266FF;
    padding: 5px;
}

#active {
    background-color: cornflowerblue;
}

#lent {
    position: sticky;
    bottom: 0;
    width: 100%;
}

#fent {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.kepjobbra {
    position: relative;
    margin: 20px;
    float: right;
    width: 600px;
    height: 300px;
}

.kepes {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 300px;
    height: 150px;
}

.broder {
    border: 5px solid #9FB1BCFF;
    border-radius: 20px;
}

.kozepre {
    text-align: center;
}

.kezdo {
    box-shadow: none !important;
    height: 300px;
    width: 250px;
    padding: 20px;
}

div[title], video[title], img[title], #gameplay > table, form{
    box-shadow: 3px 6px 5px #2E5266FF;
}

*::selection {
    background-color: cornflowerblue;
    color: white;
}

@keyframes slideshow {
    0% {background-image: url("../images/wolf1.jpg")}
    33% {background-image: url("../images/wolf2.jpg")}
    66% {background-image: url("../images/wolf3.jpg")}
    100% {background-image: url("../images/wolf5.jpg")}
}

@keyframes slideshow2 {
    0% {background-image: url("../images/lara2.jpg")}
    33% {background-image: url("../images/lara3.jpg")}
    66% {background-image: url("../images/lara4.jpg")}
    100% {background-image: url("../images/lara5.jpg")}
}

.slideshow{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: slideshow;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 20px;
    width: 600px;
    height: 300px;
    float: right;
}

.slideshow2{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: slideshow2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 20px;
    width: 600px;
    height: 300px;
    float: right;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.fadeIn {
    animation: fadeIn ease 1.5s;
}

@media only screen and (max-width: 1024px) {
    .slideshow, .slideshow2, .kepjobbra {height: 200px; width: 400px; margin: 20px}
}

@media only screen and (max-width: 880px) {
    nav, nav ul {width: 100%}
    nav li {display: block; text-align: center}
    nav a {padding: 5px}
    #fent, #lent {position: relative}
    form {width: 75%; height: 75%}
    textarea {width: 85%; height: 85%}
}

@media only screen and (max-width: 660px) {
    video {width: 75%; height: 75%}
}

@media print {
    video, nav, .slideshow, .slideshow2, footer, img, .broder, form {display: none}
    * {color: black}
    main h2 {text-shadow: none}
}


